.container {
  border: 1px solid white;
  border-radius: 4px;
  width: 700px;
  margin: 2rem auto;
  padding: 1rem 1.5rem;
  color: whitesmoke;
  font-size: 0.9rem;
}

.container > h3 {
  text-align: center;
}

.form {
  width: 100%;
}

.form > div {
  display: flex;
  flex-direction: column;
  margin: 0.7rem 0;
}

.form > div > label {
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.form > div > input,
.form > div > textarea {
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 2px;
}

.form > div > input:focus,
.form > div > textarea:focus {
  outline: none;
}

.form > button {
  padding: 0.5rem 1.5rem;
  background: #17ac1e;
  color: #fff;
  font-weight: 700;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.card {
  width: 100%;
  padding: 0.7rem 1rem;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  border: 1px solid white;
  margin: 0.5rem 0;
}

.card > div > h5 {
  margin: 0;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.card > div > p {
  margin: 0 0 0.3rem 0;
  font-size: 0.8rem;
}

.card > div:last-child > p {
  text-decoration: underline;
  cursor: pointer;
}

.card > div:last-child > p:first-child {
  color: #ff0000;
}

.card > div:last-child > p:last-child {
  color: #4169e1;
}

.not_found {
  text-align: center;
  font-size: 1rem;
  font-style: italic;
}
